#root {
  max-width: 100dvw;
  max-height: 100dvh;
  margin: 0 auto;
  /*text-align: center;*/
  vertical-align: baseline;
  background-color: white;
}

header {
  height: 10dvh;
  background-color: lightgray;
  display: flex;
}

footer {
  height: 10dvh;
  background-color: lightgray;
}

.content {
  display: flex;
  height: 80dvh;
  background-color: lightblue;
}